

    .question-description-container{
        padding: 10px 15px 0 15px;
        border: 1px solid #d1d1d1;
        border-radius: 5px;
        margin-bottom: 25px;
        margin-top: 25px;

        // .button-style {
        //     font-size: 16px;
        //     border-radius: 10px;
        //     height: 36px;
        //     width: 160px;
        // }
        
    }

