.professor-container {
    margin-top: 60px;

    .professor-heading{
        text-align: center;
    }

    .professor-form{
        margin: 0 350px;
        font-size: 18px;

        .buttons-wrapper {

            .button-style {
                font-size: 16px;
                border-radius: 10px;
                height: 36px;
                width: 160px;
            }
    
            .add-problem {
                margin-right: 20px;
            }
    
            .submit-button {
                color: white;
                font-size: 15px;
                background: #F36E21;
                border-radius: 10px;
                height: 40px;
                font-weight: 700;
                margin: 50px 0;
                width: 160px;
            }

        }

    }
}