.student-code-container{
    margin-top: 60px;
    
    .student-heading{
        text-align: center;
        margin-bottom: 40px;
    }

    .student-submission-form{
        margin: 0 350px;
        font-size: 18px;

        .info-heading {
            display: inline-block;
            width: 150px;
        }
        .info-value {
            display: inline-block;
            font-weight: 700;
        }
        .info-button {
            background: white;
            border: white;
            text-decoration: underline;
            margin-left: -8px;
            font-size: 16px;
            color: blue;
            
        }
        input:focus {
            outline: none;
        }

        .display-box {
            padding: 10px 15px 10px 15px;
            border: 1px solid #d1d1d1;
            border-radius: 5px;
            margin-bottom: 20px;
            margin-top: 20px;

            pre {
                margin-bottom: 0.5rem;
            }
        }

        .test-case-true {
            color: green;
            font-weight: 700;
        }
        .test-case-false {
            color: red;
            font-weight: 700;
        }
    
        .button-wrapper-grader {
            text-align: center;
            margin-top: 50px;

            .submit-button {
                color: white;
                font-size: 15px;
                background: #F36E21;
                border-radius: 10px;
                height: 40px;
                font-weight: 700;
                margin: 20px;
                width: 234px;
            }
        }
    }
}